<footer class="footer">
  <div class="container container--footer">
    <ul class="footer__social-list">
      <li class="footer__social-link"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="ion-social-linkedin"></a></li>
      <li class="footer__social-link"><a href="https://twitter.com/{{ site.twitter_username }}"" target="_blank" class="ion-social-twitter"></a></li>
      <li class="footer__social-link"><a href="mailto:{{site.email}}" target="_blank" class="ion-paper-airplane"></a></li>
    </ul>
  </div>
</footer>
