.footer {
  font-family: "Lato", sans-serif;
  text-align: center;
  background: $darkGray;

  &__social-list {
    padding: 1.3rem 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &__social-link {
    margin: 0 1em;
    font-size: 1.5rem;
    color: $white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    @media #{$mobile} {
      margin: 0 1.5em;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__copyright {
    padding: 1.2em 0;
    background: darken($darkGray, 10%);
    font-size: 0.6rem;
    color: darken($white, 20%);
  }
}
