body {
  display: none;

  &.loaded {
    display: block;
  }
}

.header {
  position: relative;
  margin-bottom: 4rem;
  padding: 0 5vw;
  background: 
    linear-gradient(rgba($astronaut, 0.8), rgba($astronaut, 0.8)),
    url($baseurl + '/assets/profile.jpg');
  background-position: right center;
  background-size: auto 200%;
  background-repeat: no-repeat;

  @media #{$mobile} {
    height: 400px;
    margin-bottom: 8rem;
  }

  @media #{$ipad} {
    height: 40vw;
    max-height: 640px;
    background-size: cover;
    background-attachment: fixed;
  }

  &:after {
    background: white;
    top: 100%;
    left: 0;
    content: '';
    height: 200px;
    position: absolute;
    transform-origin: right bottom;
    transform: skewY(4deg);
    width: 100%;
    z-index: 1;
  }

  &__container {
    max-width: 1200px;
    padding: 2em 0;
    margin: 0 auto;

    @media #{$ipad} {
      padding: 0 4vw;
    }
  }

  &__profile-pic {
    position: relative;
    z-index: 5;
    width: 90%;
    margin: 0 auto;
    background: url($baseurl + '/assets/profile.jpg') left center / cover no-repeat;
    mix-blend-mode: luminosity;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30%);

    &:after {
      content: "";
      display: block;
      height: 0;
      padding-top: 66.67%;
    }

    &.animate {
      transition: all 0.6s ease-in;
      transition-property: opacity, transform;
      opacity: 1;
      transform: translateY(0);
    }

    @media #{$mobile} {
      top: 3vw;
      margin: 0;
      width: 75%;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    text-align: center;
    opacity: 100;
    transform: translateY(80%);

    &.animate {
      transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: opacity, transform;
      opacity: 1;
      transform: translateY(0);
    }

    @media #{$mobile} {
      position: absolute;
      left: 50%;
      top: 30%;
      text-align: left;
    }

    @media #{$ipad} {
      left: 60%;
    }
  }

  h1 {
    color: rgba($white, 0.9);
    margin-bottom: 0.3em;
  }

  &__deets {

    @media #{$mobile} {
      margin-left: 2em;
    }
  }

  &__deets-list {
    li {
      font-size: 1.1rem;
      color: rgba($white, 0.7);

      @media #{$mobile} {
        font-size: 1.2rem;
      }

      @media #{$desktop} {
        font-size: 1.4rem;
      }
    }
  }

  &__social {
    display: flex;
    margin: 1em 0;
    justify-content: center;

    @media #{$mobile} {
      justify-content: flex-start;
    }

    li {
      margin: 0 1em;
      font-size: 1.5rem;
      color: rgba($white, 0.6);
      transition: color 0.3s ease-in-out;

      @media #{$mobile} {
        margin: 0 2em 0 0;
        
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.section {
  position: relative;
  z-index: 10;
  padding-bottom: 4rem;

  @media #{$mobile} {
    padding-bottom: 8rem;
  }

  &__header {
    margin-bottom: 3rem;
    text-align: center;
  }

  &--videos {
    &:after {
      background: $zumthor;
      bottom: 0;
      left: 0;
      content: '';
      height: 200px;
      position: absolute;
      transform-origin: right bottom;
      transform: skewY(-4deg);
      width: 100%;
      z-index: -1;
    }
  }

  &--photos {
    background: $zumthor;
  }

  .container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 0.3em;
  }

  &__description {
    color: $gray;
  }
}

.gallery {
  display: flex;

  @supports(display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 35px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: 12.5px;
  font-family: "Lato", sans-serif;
  background-color: $white;
  box-shadow: 0px 5px 20px 0px rgba($darkGray, 0.2);
  transition: transform 0.2s ease-in-out;

  @supports(display: grid) {
    margin: 0;
  }

  &:hover {
    transform: scale(1.05);
  }
  
  &__sharing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px 0 15px;
  }
  
  &__social {
    display: flex;
  }
  
  &__social-icon {
    margin-left: 1.5em;
    font-size: 1.3rem;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 6% 8%;
  }
  
  &__info {
    flex: 1;
  }
  
  &__author {
    font-weight: 300;
    font-size: 0.8rem;
  }
  
  &__title {
    margin: 0.5em 0 0.7em;
    font-size: 1rem;
    font-weight: 600;
  }

  &__image {
    width: 100%;
  }
  
  &__description {
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.4;
    color: $descriptionColor;
  }
  
  &__timestamp {
    display: flex;
    color: $descriptionColor;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1;
    color: $timestampColor;
    letter-spacing: 1px;
  }
  
  &__timestamp-icon {
    margin-right: 0.5em;
    font-size: 1.3em;
    line-height: 1;
  }
}

.masonry {

  @media #{$mobile} {
    display: flex;
    flex-wrap: wrap;

    @supports(display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 20px;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.25s ease-in-out;

    @media #{$mobile} {
      width: 33.333%;
      padding: 10px;

      @supports(display: grid) {
        width: 100%;
        padding: 0;
      }

      &:hover {
        transform: scale(1.05);

        .masonry__photo {
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  &__photo {
    display: block;
    break-inside: avoid;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;

    @media #{$mobile} {

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $darkGray;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 60%;
    }
  }
}
