$darkGray: #444;
$gray: #828282;
$white: #fff;
$backgroundColor: #e3e3e3;
$fontColor: #333;
$descriptionColor: #828282;
$timestampColor: #d2d1d1;
$accentColor: #46b6d6;

$zumthor: #EEF5FF;
$astronaut: #274871;

$desktop:                             'screen and (min-width: 1450px)';
$ipad:                                'screen and (min-width: 1025px)';
$mobile:                              'screen and (min-width: 670px)';